body {
  font-family: 'Montserrat', sans-serif;
}

.navegation {
  display: inline;
  margin: 60px;
  margin-right: 90px;
  position: absolute;
  right: 0;
}

.navegation a {
  text-decoration: none;
  text-decoration:dotted;
}

.navegation li {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  display: inline;
  margin: 0 0 0 35px;
  padding: 20px;

}

nav {
  box-sizing: border-box;
  border: 1px #5F40A6;
  border-radius: 12px;
  box-shadow: 0px 5px 40px #5F40A6 ;
}

.caixa img{
  width: 250px;
  height: 100px;
  padding: 10px;
  margin: 10px 50px 0px ;

}

.titulo {
  margin: 120px 80px 110px 80px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  height: 140px;

}

.description {
  border-radius:  8px;
  box-shadow: 0px 0px 0px #5F40A6 ;
  display:inline;  
  opacity: 2.9;

}

.description p {
  margin: 10px 10px 10px 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  font-size: 24px;
  color: #5F40A6;
 
}

#pobreza-menstrual {
  width: 40%;
  padding: 6px 6px 5px 5px;
  background: #5F40A6;
  color: white;    
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  transition: 1s none; /*Transição que o CSS 3 */
  cursor: pointer;

}

#pobreza-menstrual:hover {
  background: #FEFEFE;
  color: red;
  transform: scale(1.2);
  font-size: 20px;
  text-transform: uppercase;
}

#title-action {
  text-align: center;
  text-shadow: 0px 0px 4px #5F40A6;
  font-size: 24px;
  margin-top: 70px;

}

.action {

  margin: 0 auto;
  padding: 50px 0;
  display:inline-block;
}

.action ul {

  display:inline-flex;
}


.action li {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0 1.5%;
  padding: 15px 10px;

  padding: 2%;

  background-color: white;
  border-radius: 12px;
  box-shadow: 0px 0px 20px #5F40A6 ;

  vertical-align: center;
  text-align: center;

}

.action h2 {
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
  margin-bottom: 0;
  font-weight: bold;
}

.action img {
  width: 90px;
  height: 80px;
  margin-top: 5px;
  padding-left: 10px;
}

.action p {
  margin-left: 10%;
  margin-right: 10px;
  text-align: justify;
}


/*Referências*/
footer {
  text-align: center;
  background: url("imgs/reference.png");
  margin-top: 190px;
}

footer p {
  padding: 5px;
}

@media screen  and (max-width: 480px) {
  .titulo, .navegation, .description {
  width: auto;
  height: auto;
 }

 nav {
  position: static;
 }
}